<form
  class="form"
  action="https://formsubmit.co/gbp17@outlook.com"
  method="POST"
>
  <fieldset>
    <legend>Contact me by filling out all the fields.</legend>

    <div class="field-container">
      <div class="field">
        <label
          >Name
          <input
            class="input-text"
            placeholder="e.g. John Doe"
            type="text"
            name="name"
            required
          /></label
        >
      </div>
      <div class="field">
        <label
          >Cellphone
          <input
            class="input-text"
            placeholder="e.g. 555-123-4567"
            type="number"
            name="cellphone"
            required
          /></label
        >
      </div>
      <div class="field">
        <label
          >Email<input
            class="input-text"
            placeholder="e.g. email@example.com"
            type="email"
            name="email"
            required
          /></label
        >
      </div>
      <div class="field">
        <label
          >Message
          <textarea
            placeholder="e.g. Hi, I'd like to know more about..."
            class="input-text"
            name="message"
            cols="30"
            rows="10"
            required></textarea>
        </label>
      </div>
    </div>
    <div class="align-right flex">
      <input class="button w-100" value="Submit" type="submit" />
    </div>
  </fieldset>
</form>
