---
import FormContainer from "./FormContainer.astro";
import Services from "./Services.astro";
---

<main class="container shadow">
    <h2>My Services</h2>
    <Services />
    <FormContainer />
</main>